vti_encoding:SR|utf8-nl
vti_author:SR|LGB\\nevin
vti_modifiedby:SR|nevin-PC\\nevin
vti_timelastmodified:TR|27 May 2014 04:33:53 -0000
vti_timecreated:TR|18 Nov 2008 15:17:27 -0000
vti_extenderversion:SR|6.0.2.8161
vti_lineageid:SR|{E829D5EA-6BAF-4F43-A9C4-FB5175B75F6E}
vti_backlinkinfo:VX|
vti_syncwith_ftp.myweb.hinet.net\:21:TX|27 May 2014 04:33:53 -0000
vti_syncofs_ftp.myweb.hinet.net\:21:TW|27 May 2014 04:38:00 -0000
vti_nexttolasttimemodified:TW|01 Apr 2011 16:00:00 -0000
vti_cacheddtm:TX|27 May 2014 04:33:53 -0000
vti_filesize:IR|2212
vti_cachedlinkinfo:VX|S|sunsepa.gif S|dian_1.gif S|dian_2.gif S|dian_3.gif S|di.gif S|ruyi_1.gif S|ruyi_3.gif S|ruyi_2.gif S|ruyi_1.gif S|ruyi_3.gif S|ruyi_2.gif S|fanhui_1.gif S|fanhui_3.gif S|sunhomea.gif S|xia_2.gif S|xia_3.gif S|sunnexta.gif S|zhu_1.gif S|zhu_3.gif S|sunpreva.gif S|shang_1.gif S|shang_3.gif S|sunupa.gif S|dian_1.gif S|dian_2.gif S|dian_3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/cnluck/sunsepa.gif FSUS|_themes/cnluck/dian_1.gif FSUS|_themes/cnluck/dian_2.gif FSUS|_themes/cnluck/dian_3.gif FSUS|_themes/cnluck/di.gif FSUS|_themes/cnluck/ruyi_1.gif FSUS|_themes/cnluck/ruyi_3.gif FSUS|_themes/cnluck/ruyi_2.gif FSUS|_themes/cnluck/ruyi_1.gif FSUS|_themes/cnluck/ruyi_3.gif FSUS|_themes/cnluck/ruyi_2.gif FSUS|_themes/cnluck/fanhui_1.gif FSUS|_themes/cnluck/fanhui_3.gif FSUS|_themes/cnluck/sunhomea.gif FSUS|_themes/cnluck/xia_2.gif FSUS|_themes/cnluck/xia_3.gif FSUS|_themes/cnluck/sunnexta.gif FSUS|_themes/cnluck/zhu_1.gif FSUS|_themes/cnluck/zhu_3.gif FSUS|_themes/cnluck/sunpreva.gif FSUS|_themes/cnluck/shang_1.gif FSUS|_themes/cnluck/shang_3.gif FSUS|_themes/cnluck/sunupa.gif FSUS|_themes/cnluck/dian_1.gif FSUS|_themes/cnluck/dian_2.gif FSUS|_themes/cnluck/dian_3.gif
