vti_encoding:SR|utf8-nl
vti_author:SR|LGB\\nevin
vti_modifiedby:SR|nevin-PC\\nevin
vti_timelastmodified:TR|27 May 2014 04:33:53 -0000
vti_timecreated:TR|18 Nov 2008 15:17:27 -0000
vti_extenderversion:SR|6.0.2.8161
vti_lineageid:SR|{0F2D6D6F-B046-4901-961A-641B467F1482}
vti_backlinkinfo:VX|
vti_syncwith_ftp.myweb.hinet.net\:21:TX|27 May 2014 04:33:53 -0000
vti_syncofs_ftp.myweb.hinet.net\:21:TW|27 May 2014 04:38:00 -0000
vti_nexttolasttimemodified:TW|01 Apr 2011 16:00:00 -0000
vti_cacheddtm:TX|27 May 2014 04:33:53 -0000
vti_filesize:IR|2114
vti_cachedlinkinfo:VX|S|sunsepd.gif S|dian_1a.gif S|dian_1b.gif S|dian_1c.gif S|jian_title.gif S|2_1.gif S|sunnavhd.gif S|2-2.gif S|2_1.gif S|sunnavvd.gif S|2-2.gif S|3_2.gif S|sunhomed.gif S|sunhomed.gif S|3_4.gif S|sunnextd.gif S|sunnextd.gif S|3_1.gif S|sunprevd.gif S|sunprevd.gif S|3_3.gif S|sunupd.gif S|sunupd.gif S|dian_1a.gif S|dian_1b.gif S|dian_1c.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/cnluck/sunsepd.gif FSUS|_themes/cnluck/dian_1a.gif FSUS|_themes/cnluck/dian_1b.gif FSUS|_themes/cnluck/dian_1c.gif FSUS|_themes/cnluck/jian_title.gif FSUS|_themes/cnluck/2_1.gif FSUS|_themes/cnluck/sunnavhd.gif FSUS|_themes/cnluck/2-2.gif FSUS|_themes/cnluck/2_1.gif FSUS|_themes/cnluck/sunnavvd.gif FSUS|_themes/cnluck/2-2.gif FSUS|_themes/cnluck/3_2.gif FSUS|_themes/cnluck/sunhomed.gif FSUS|_themes/cnluck/sunhomed.gif FSUS|_themes/cnluck/3_4.gif FSUS|_themes/cnluck/sunnextd.gif FSUS|_themes/cnluck/sunnextd.gif FSUS|_themes/cnluck/3_1.gif FSUS|_themes/cnluck/sunprevd.gif FSUS|_themes/cnluck/sunprevd.gif FSUS|_themes/cnluck/3_3.gif FSUS|_themes/cnluck/sunupd.gif FSUS|_themes/cnluck/sunupd.gif FSUS|_themes/cnluck/dian_1a.gif FSUS|_themes/cnluck/dian_1b.gif FSUS|_themes/cnluck/dian_1c.gif
