vti_encoding:SR|utf8-nl
vti_author:SR|LGB\\nevin
vti_modifiedby:SR|nevin-PC\\nevin
vti_timelastmodified:TR|27 May 2014 04:33:53 -0000
vti_timecreated:TR|18 Nov 2008 15:17:27 -0000
vti_extenderversion:SR|6.0.2.8161
vti_lineageid:SR|{2684F48C-4E01-43DE-BF04-A41E226A47D5}
vti_backlinkinfo:VX|_themes/cnluck/theme.css
vti_syncwith_ftp.myweb.hinet.net\:21:TX|27 May 2014 04:33:53 -0000
vti_syncofs_ftp.myweb.hinet.net\:21:TW|27 May 2014 04:38:00 -0000
vti_nexttolasttimemodified:TW|01 Apr 2011 16:00:00 -0000
vti_cacheddtm:TX|27 May 2014 04:33:53 -0000
vti_filesize:IR|49599
vti_cachedlinkinfo:VX|S|none S|none S|none S|blank.gif S|blank.gif S|qj.gif S|dot.gif S|toolgrad.gif S|di2.gif S|sunbul2D.gif S|theme.css S|toolgrad.gif
vti_cachedsvcrellinks:VX|NSUS|_themes/cnluck/none NSUS|_themes/cnluck/none NSUS|_themes/cnluck/none FSUS|_themes/cnluck/blank.gif FSUS|_themes/cnluck/blank.gif FSUS|_themes/cnluck/qj.gif FSUS|_themes/cnluck/dot.gif FSUS|_themes/cnluck/toolgrad.gif FSUS|_themes/cnluck/di2.gif NSUS|_themes/cnluck/sunbul2D.gif FSUS|_themes/cnluck/theme.css FSUS|_themes/cnluck/toolgrad.gif
