.mstheme
{
	separator-image: url(sunsepa.gif);
	list-image-1: url(dian_1.gif);
	list-image-2: url(dian_2.gif);
	list-image-3: url(dian_3.gif);
	nav-banner-image: url(di.gif);
	navbutton-horiz-normal: url(ruyi_1.gif);
	navbutton-horiz-hovered: url(ruyi_3.gif);
	navbutton-horiz-pushed: url(ruyi_2.gif);
	navbutton-vert-normal: url(ruyi_1.gif);
	navbutton-vert-hovered: url(ruyi_3.gif);
	navbutton-vert-pushed: url(ruyi_2.gif);
	navbutton-home-normal: url(fanhui_1.gif);
	navbutton-home-hovered: url(fanhui_3.gif);
	navbutton-home-pushed: url(sunhomea.gif);
	navbutton-next-normal: url(xia_2.gif);
	navbutton-next-hovered: url(xia_3.gif);
	navbutton-next-pushed: url(sunnexta.gif);
	navbutton-prev-normal: url(zhu_1.gif);
	navbutton-prev-hovered: url(zhu_3.gif);
	navbutton-prev-pushed: url(sunpreva.gif);
	navbutton-up-normal: url(shang_1.gif);
	navbutton-up-hovered: url(shang_3.gif);
	navbutton-up-pushed: url(sunupa.gif);
}
.mstheme-bannertxt
{
	font-family: Trebuchet MS,Arial,Helvetica;
	color: rgb(0, 0, 0);
	font-size: 5;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(dian_1.gif);
}
ul ul
{
	list-style-image: url(dian_2.gif);
}
ul ul ul
{
	list-style-image: url(dian_3.gif);
}
