vti_encoding:SR|utf8-nl
vti_author:SR|nevin-PC\\nevin
vti_modifiedby:SR|nevin-PC\\nevin
vti_timelastmodified:TW|23 Oct 2013 12:46:44 -0000
vti_timecreated:TR|23 Oct 2013 12:46:44 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
vti_syncwith_ftp.myweb.hinet.net\:21:TX|23 Oct 2013 12:46:44 -0000
vti_syncofs_ftp.myweb.hinet.net\:21:TW|23 Oct 2013 13:04:00 -0000
vti_nexttolasttimemodified:TW|23 Oct 2013 12:46:44 -0000
vti_cacheddtm:TX|23 Oct 2013 12:46:44 -0000
vti_filesize:IR|28221
vti_cachedlinkinfo:VX|S|//ssl.gstatic.com/docs/common/jfk_sprite100.png S|//ssl.gstatic.com/docs/common/jfk_sprite100.png S|//ssl.gstatic.com/docs/common/jfk_sprite100.png S|//ssl.gstatic.com/docs/common/jfk_sprite_hdpi38.png S|//www.gstatic.com/docs/spreadsheets/forms/edit_dark.png
vti_cachedsvcrellinks:VX|NSUS|//ssl.gstatic.com/docs/common/jfk_sprite100.png NSUS|//ssl.gstatic.com/docs/common/jfk_sprite100.png NSUS|//ssl.gstatic.com/docs/common/jfk_sprite100.png NSUS|//ssl.gstatic.com/docs/common/jfk_sprite_hdpi38.png NSUS|//www.gstatic.com/docs/spreadsheets/forms/edit_dark.png
